{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
  <div style="display: flex; gap: 16px">
    <div>
      <img src="{{book.cover.url}}" alt="" style="width: 120px">
    </div>
    <div style="width: 50%">
      <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>
  </div>
    
{% endblock %}